#title{
    display: flex;
    justify-content: center;
}
.cloptions{
    border: none;
    font-size: larger;
}
li{
    margin-bottom: 12px;
    list-style-type: none;
}
#maincontent{
    display: flex;
    justify-content: space-around;
}
#lefthand>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}